<html>
  
<head>
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <main>
      <nav id='navbar'>
        <a id="recipesBtn" class="nav-item" href="#0">recipes</a>
        <a id="groceriesBtn" class="nav-item" href="#0">groceries</a>
        <a id="fridgeBtn" class="nav-item" href="#0">fridge</a>
        <a id="gameBtn" class="nav-item" href="#0">game</a>
        <p id="fortuneCookie"></p>
      </nav>
      <div class="content-box">
        <section id="mainSpace">  
        </section>
        <aside id="asideSpace">
          <ul id="fridge"></ul>
        </aside>
        <div></div>
      </div>
    </main>
</body>

<script type="module" src="js/recipes.js"></script>
<script type="module" src="js/groceries.js"></script>
<script type="module" src="js/fridge.js"></script>
<script type="module" src="js/game.js"></script>

</html>